html
  head
    title @dags170291 | notes
    meta(charset="utf-8")
    meta(name="google-site-verification", content="vqptuk1G13XNMFspnzeQDaCp7Tn7JPO1gFZ0lnGNuGA")
    meta(name="keywords", content="Dylon Smith, dags170291, Dylon, Smith,")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    
    link(rel="stylesheet", href="/assets/css/main.css")
  body
    section.all-notes-wrapper
      .all-notes-col1
        a(href="/index.html") 
          img(src="/assets/images/arrow-back.svg").arrow-back
      
      .all-notes-col2
        h2.notes-label Notes Index
        ul.notes
          li.alizarin: a(href="https://medium.com/@DAGS_170291").alizarin My Web Design Process
            a(href="#").read-link read
          li.emerald: a(href="https://medium.com/@DAGS_170291").emerald My Logo Design Proces
            a(href="#").read-link read
          li.wisteria: a(href="https://medium.com/@DAGS_170291").wisteria Workflow Tools
            a(href="#").read-link read
          li.peterriver: a(href="https://medium.com/@DAGS_170291").peterriver My Mac Apps 
            a(href="#").read-link read
          li.alizarin: a(href="https://medium.com/@DAGS_170291").alizarin Apps every android user should have
            a(href="#").read-link read 
          li.emerald: a(href="https://medium.com/@DAGS_170291").emerald 10 reasons why I love Google Nexus phones
            a(href="#").read-link read
          li.wisteria: a(href="https://medium.com/@DAGS_170291").wisteria Why I dislike Apple even though I own a Macbook Pro
            a(href="#").read-link read
          li.peterriver: a(href="https://medium.com/@DAGS_170291").peterriver Why Microsoft Windows OS drives me crazy
            a(href="#").read-link read
    
    footer.medium-profile
      .profile
        img(src="/assets/images/profile-photo.png").profile-photo
        a(href="https://medium.com/@DAGS_170291") DAGS on Medium
