footer
  .flex
    .footer-col1
      h2 Need More Info
        span.red-text ?
        
    .footer-col2
      p ...download my 
        a(href="http://bit.ly/1Qooej6").resume Résumé
          img(src="/assets/images/doc.svg")
