header
  .side-bar
    h1.logo Dylon
     
    nav.desktop-nav
      ul
        li: a(href="#about") about-me
        li: a(href="#my-work") my-work
        li: a(href="#notes") notes
        //- li: a(href="#shout-outs") shout-outs
        li: a(href="#find-me") find-me
        
    a(href="#0").cd-top Top
    
