header
  .side-bar
    h1.logo Dylon
     
    nav#desktop-nav.desktop-nav
      ul
        li: a(href="#about").abt-link about-me
        li: a(href="#my-work").wrk-link my-work
        li: a(href="#notes").notes-link notes
        //- li: a(href="#shout-outs").shout-link shout-outs
        li: a(href="#find-me").find-link find-me
        
    a(href="#0").cd-top Top
