// third party js files
script(src='assets/js/jquery-2.1.4.min.js')
script(src='assets/js/masonry.pkgd.min.js')
script(src='assets/js/jquery.flexslider-min.js')
script(src='assets/js/modernizr.js')
//- script(src='assets/js/grid.js')


//user js files
script(src='assets/js/functions.js')
script(src='/assets/js/grid.js')
script.
  $(function() {
  Grid.init();
  });
