section#notes
  .note-wrap
    .notes-col1
      h2 Notes
        span.red-text .
        
    .notes-col2
      ul.notes-list
        li: a(href="#1") My Web Design Process
        li: a(href="#2") My Logo Design Proces
        li: a(href="#3") Workflow Tools
        
      //- a(href="#4").all-notes All Notes  
