section#notes
  .note-wrap
    .notes-col1
      h2 Notes
        img(src="/assets/images/animat-pencil-color.gif").pencil
        
    .notes-col2
      ul.notes-list
        li: a(href="https://medium.com/@DAGS_170291") My Web Design Process
        li: a(href="https://medium.com/@DAGS_170291") My Logo Design Proces
        li: a(href="https://medium.com/@DAGS_170291") Workflow Tools
  
        a(href="/assets/html/page-notes.html").all-notes View All Notes
        
