section#my-work
  h2 My Work
    span.red-text .

  .flex
    .my-work-col
      .main
        ul#og-grid.og-grid
          li
            a(href='#', data-largesrc='/assets/images/1.jpg', data-title='Self Branding Project', data-description='As creatives we always want our work to be recognized. Creating a logo and a brand is my first step in doing so : ).')
              img(src='/assets/images/thumbs/1.jpg', alt='img01')
          li
            a(href='#', data-largesrc='/assets/images/2.jpg', data-title='Jazz 21 & Jazz Artistry Logo', data-description='A side project I did for my sister-the make up star of my family')
              img(src='/assets/images/thumbs/2.jpg', alt='img02')
          li
            a(href='#', data-largesrc='/assets/images/3.jpg', data-title='1021 Website', data-description='my next project')
              img(src='/assets/images/thumbs/3.jpg', alt='img03')
          li
            a(href='#', data-largesrc='/assets/images/4.jpg', data-title='MetroPlus Website', data-description="My first Webdesign project was actually a case study assignment for my 'website design' course in school. I aced it btw : )")
              img(src='/assets/images/thumbs/4.jpg', alt='img01')
          li
            a(href='#', data-largesrc='/assets/images/5.jpg', data-title='Comming Soon', data-description='Im still learning & still creating awesome stuff. Stay tuned!')
              img(src='/assets/images/thumbs/5.jpg', alt='img01')
          li
            a(href='#', data-largesrc='/assets/images/6.jpg', data-title='Comming Soon', data-description='Im still learning & still creating awesome stuff. Stay tuned!')
              img(src='/assets/images/thumbs/6.jpg', alt='img01')
          li
            a(href='#', data-largesrc='/assets/images/1.jpg', data-title='Comming Soon', data-description='Im still learning & still creating awesome stuff. Stay tuned!')
              img(src='/assets/images/thumbs/1.jpg', alt='img01')
          li
            a(href='#', data-largesrc='/assets/images/2.jpg', data-title='Comming Soon', data-description='Im still learning & still creating awesome stuff. Stay tuned!')
              img(src='/assets/images/thumbs/2.jpg', alt='img01')

      
