
section#find-me
  h2 ... So how do you find me
    span.red-text ?

  .flex
    .find-me-col
      h4
        | YOU CAN E-MAIL ME
        br
        | @
      li.mail
        a(href='mailto:dags170291@gmail.com') dags170291@gmail.com
      h4 OR
      #contact
        h4 FOLLOW ME
        ul.social
          a(href='https://twitter.com/DAGS_170291')
            li
              img(src='/assets/images/twitter.png', alt='twitter-icon')
          a(href='https://www.instagram.com/madebydylon/')
            li
              img(src='/assets/images/instagram.png', alt='instagram-icon')
          a(href='https://behance.net/dags170291')
            li
              img(src='/assets/images/behance.png', alt='behance-icon')
          a(href='https://github.com/dags170291')
            li
              img(src='/assets/images/github.png', alt='github-icon')
          a(href='https://medium.com/@DAGS_170291')
            li
              img(src='/assets/images/medium.png', alt='medium-icon')

        
