section#shout-outs
  h2 Shout-Outs
    span.red-text .

  .flex
    .shout-outs-col
      .cd-testimonials-wrapper.cd-container
        ul.cd-testimonials
          li
            img.user-profile-photo(src='/assets/images/avatar-1.jpg', alt='profile-photo')
            p Dolore qui laboris cillum fugiat velit labore id non.Dolor dolore ad quis aliqua amet. Quis est fugiat labore ad commodo tempor pariatur ut mollit occaecat ut irure incididunt Qui tempor culpa commodo exercitation.
            
            .author
              ul.cd-author-info
                li  -Dylon Smith
                li  CEO, AmberCreative
                
          li
            img.user-profile-photo(src='/assets/images/avatar-2.jpg', alt='profile-photo')
            p Dolore qui laboris cillum fugiat velit labore id non.Dolor dolore ad quis aliqua amet. Dolore qui laboris cillum fugiat velit labore id non.
            
            
            .author
              ul.cd-author-info
                li  -Dylon Smith
                li  CEO, AmberCreative
                
          li
            img.user-profile-photo(src='/assets/images/avatar-3.jpg', alt='profile-photo')
            p Dolore qui laboris cillum fugiat velit labore id non.Dolor dolore ad quis aliqua amet. Quis est fugiat labore ad commodo tempor pariatur ut mollit occaecat ut irure incididunt Qui tempor culpa commodo exercitation.Dolore qui laboris cillum fugiat velit labore id non.
            
            .author
              ul.cd-author-info
                li  -Dylon Smith
                li  CEO, AmberCreative
          li
            img.user-profile-photo(src='/assets/images/avatar-4.jpg', alt='profile-photo')
            p Dolore qui laboris cillum fugiat velit labore id non.Dolor dolore ad quis aliqua amet. Quis est fugiat labore ad commodo tempor pariatur ut mollit occaecat ut irure incididunt Qui tempor culpa commodo exercitation.Dolore qui laboris cillum fugiat velit labore id non.
            
            .author
              ul.cd-author-info
                li  -Dylon Smith
                li  CEO, AmberCreative
      
      //- #clients
      //-   .clients-wrap
      //-     ul#clients-list.clearfix
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-1.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-2.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-3.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-          img(src='/assets/images/avatar-4.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-5.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-6.jpg', alt='')
      //-       li
      //-         a.cd-see-all(href='#0')
      //-           img(src='/assets/images/avatar-7.jpg', alt='')
            
      
  //- .cd-testimonials-all
  //-   .cd-testimonials-all-wrapper
  //-     ul
  //-       li.cd-testimonials-item
  //-         p Dolore qui laboris cillum fugiat velit labore id non.Dolor dolore ad quis aliqua amet. Quis est fugiat labore ad commodo tempor pariatur ut mollit occaecat ut irure incididunt Qui tempor culpa commodo exercitation.Dolore qui laboris cillum fugiat velit labore id non.
  //-         
  //-         .cd-author
  //-           img.user-profile-photo(src='/assets/images/avatar-1.jpg', alt='profile-photo')
  //-           ul.cd-author-info
  //-             li MyName
  //-             li CEO, CompanyName
