section#about
  
  .flex
    .about-col
      h2
        span Hel
          span.red-text lo 
            span.reg-text W
              span.red-text o
                span.reg-text r
                  span.red-text l
                    span.reg-text d!!
      
      p I am Dylon Smith, a computing student with a passion for web and creative design.
      
      p When I am not learning to master the web, I am usually somewhere off thinking about random stuff, laughing or trying to take over the world... 
    
      h4 ...ONE PIXEL AT A TIME!
  
      
