html
  
  body
    .all-notes-wrapper
      .all-notes-col1
        img(src="/assets/images/arrow-back.svg")
      
      .all-notes-col2
        ul
          li: a(href="https://medium.com/@DAGS_170291") My Web Design Process
          li: a(href="https://medium.com/@DAGS_170291") My Logo Design Proces
          li: a(href="https://medium.com/@DAGS_170291") Workflow Tools
            
